@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-transition {
    transition: transform 0.5s ease-in-out;
}

@font-face {
    font-family: 'Pricedown';
    src: url('assets/fonts/Pricedown.ttf') format('truetype');
}

@font-face {
    font-family: 'Sign';
    src: url('assets/fonts/Sign.ttf') format('truetype');
}

.pricedown {
    font-family: 'Pricedown', sans-serif;
}

.sign {
    font-family: 'Sign', sans-serif;
}

:root {
    --bg1: #0E182F;
    --bg2: #081022;
    --bg2op: rgba(6, 16, 34, 0.6);
    --bg3op: rgba(42, 108, 189, 0.091);
    --bg4op: rgba(89, 164, 255, 0.045);
    --lblue: #75AAF1;
    --ltext: #D2E5FF;
    --lgold: #FCD672;
    --llgold: #F7F8DF;
    --bg1l: #18284B;
    --opac: rgba(123, 182, 255, 0.15);
    --hover-bg-gradient-start: #18284B;
    --hover-bg-gradient-end: #263E74;
    --ggrad: linear-gradient(to right, rgba(242, 180, 23, 0), #f2b417, rgba(242, 180, 23, 0));
    --hover-border-color: #263E74;
    --gold: gold;

    --dbg1: #e9f4ff;
    --dbg2: #ffffff;
    --dbg2op: rgba(255, 255, 255, 0.6);
    --dlblue: #18284B;
    --dltext: #2669CC;
    --dlgold: #579aff;
    --dllgold: #b7dbff;
    --dbg1l: #f8fcff;
    --dggrad: linear-gradient(to right, rgba(242, 180, 23, 0), #f2b417, rgba(242, 180, 23, 0));
    --dgold: #b38900;
}

.grad-text {
    background: linear-gradient(to right, #FCD672, #F7F8DF, rgba#FCD672);
    -webkit-background-clip: text;
    background-clip: text;
    /* color: transparent; */
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.gradgold {
    background: linear-gradient(to right, rgba(242, 180, 23, 0), #f2b417, rgba(242, 180, 23, 0));
}

.bgpattern {
    background-color: #0E182F;
    opacity: 1;
    background-image: linear-gradient(30deg, #081022 12%, transparent 12.5%, transparent 87%, #081022 87.5%, #081022), linear-gradient(150deg, #081022 12%, transparent 12.5%, transparent 87%, #081022 87.5%, #081022), linear-gradient(30deg, #081022 12%, transparent 12.5%, transparent 87%, #081022 87.5%, #081022), linear-gradient(150deg, #081022 12%, transparent 12.5%, transparent 87%, #081022 87.5%, #081022), linear-gradient(60deg, #08102277 25%, transparent 25.5%, transparent 75%, #08102277 75%, #08102277), linear-gradient(60deg, #08102277 25%, transparent 25.5%, transparent 75%, #08102277 75%, #08102277);
    background-size: 46px 81px;
    background-position: 0 0, 0 0, 23px 40px, 23px 40px, 0 0, 23px 40px;
}

.glassgrad {
    background: linear-gradient(to top, rgba(123, 182, 255, 0.2),rgba(132, 187, 255, 0), rgba(123, 182, 255, 0.2));
}

.glassgrad2 {
    background: linear-gradient(to right, rgba(123, 182, 255, 0.2),rgba(132, 187, 255, 0), rgba(123, 182, 255, 0.2));
}